<!doctype html>
<html>
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/navbar.ejs") %>
    <h1 class="uppercase text-center mt-2 text-4xl font-semibold whitespace-nowrap text-red-600">Category List</h1>
    <div class="flex justify-center items-center sm:mb-4 sm:mt-4">
        <%- include("../partials/category-table.ejs") %>
    </div>
</body>
</html>