<!doctype html>
<html>
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/navbar.ejs") %>
    <div class="flex justify-center items-center">
        <%- include("../partials/form-add.ejs") %>
    </div>
</body>
</html>