<!doctype html>
<html>
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/navbar.ejs") %>
    <div class="flex justify-center items-center mt-12">
        <div id="alert-additional-content-2" class="p-4 mb-4 text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
            <div class="flex items-center">
              <svg class="flex-shrink-0 w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">Info</span>
              <h3 class="text-lg font-medium">Are you sure you really want to delete the category?</h3>
            </div>
            <div class="mt-2 mb-4 text-sm">
                If you delete the category, you will not see it where the categories are listed on the home page.
            </div>
            <div class="flex justify-center">
                <form method="POST">
                  <button type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Yes</button>
                  <a href="/admin/categories" class="mr-2 bg-gray-600 p-2 rounded-lg text-white hover:bg-gray-800">No</a>
                </form>
            </div>
          </div>  
    </div>
</body>
</html>