<!doctype html>
<html>
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/navbar.ejs") %>
    <div class="flex justify-center items-center mt-12">
        <%- include("../partials/delete-card.ejs") %>
    </div>
</body>
</html>