<div id="carousel" class="mx-auto w-full max-w-screen-2xl">
    <% movies.forEach(movie => { %>
      <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-2">
        <img src="/img/<%= movie.image %>" alt="<%= movie.name %> img" class="w-full h-64 object-cover">
      </div>
    <% }) %>
</div>
<script>
    $('#carousel').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true, 
      autoplaySpeed: 3000, 
      dots: true, 
      arrows: true,
    });
  </script>