<div class="mt-16">
    <h1 class="text-center text-2xl font-bold mb-4">Create a Film</h1>
      <form method="POST" enctype="multipart/form-data">
        <div class="mb-6">
          <label for="title" class="block mb-2 text-lg font-medium text-gray-900">Title</label>
          <input type="text" id="title" name="title" class="w-96 border text-sm rounded-lg block p-2.5 bg-gray-50 border-gray-300 text-black focus:ring-blue-500 focus:border-blue-500" required placeholder="Enter a title">
        </div>
        <div class="mb-6 max-w-4xl">   
          <label for="description" class="block mb-2 text-lg font-medium text-gray-900">Description</label>
          <textarea id="editor" name="description" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Leave a description..."></textarea>
        </div>
        <div class="flex items-center mb-6">
          <label for="is_home" class="ml-2 text-md font-medium text-black">Home</label>
          <input id="is_home" type="checkbox" name="is_home" class="w-4 h-4 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
        </div>
        <div class="flex items-center mb-6">
          <label for="is_active" class="ml-2 text-md font-medium text-black">Active</label>
          <input id="is_active" type="checkbox" name="is_active" class="w-4 h-4 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
        </div>
        <div class="mb-6">
          <label for="image" class="block mb-2 text-lg font-medium text-gray-900">Image</label>
          <input type="file" id="image" name="image" class="w-96 border text-sm rounded-lg block p-2.5 bg-gray-50 border-gray-300 text-black focus:ring-blue-500 focus:border-blue-500" required placeholder="Enter an image URL">
        </div>
        <div class="mb-6">
          <label for="category_id" class="block mb-2 text-lg font-medium text-gray-900">Category</label>
          <select id="category_id" name="category_id" class="w-96 border text-sm rounded-lg block p-2.5 bg-gray-50 border-gray-300 text-black focus:ring-blue-500 focus:border-blue-500" required>
            <option value="" selected disabled>Select Category</option>
            <% categories.forEach(category => { %>
              <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
          </select>        
        </div>
        <div class="mb-6">
          <label for="rayting" class="block mb-2 text-lg font-medium text-gray-900">Rayting</label>
          <input style="border: 2px solid #F9FAFB;" type="number" id="rayting" name="rayting" min="1" max="5">
        </div>
        <div class="mb-6 flex justify-center">           
          <button type="submit" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-gray-600 rounded-lg border border-gray-200 hover:bg-gray-900 focus:z-10 focus:ring-4 focus:ring-gray-200">Add</button>
        </div>
      </form>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>
<script>
  ClassicEditor
      .create( document.querySelector( '#editor' ) )
      .catch( error => {
          console.error( error );
      } );
</script>
   
  